*, *:before, *:after {
    box-sizing: border-box;
  }

  .modal-container {
    /* margin: 60px auto;
    padding-top: 0px;
    position: relative;
    width: 160px; */
    /* display: none; */
  }
  .modal-btn {
    transition: background 1.3s ease-in;
  }

  .modal-content, .modal-backdrop {
    height: 0;
    width: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    cursor: pointer;
    transition: opacity 0.2s ease-in;
  }
 .modal-close {
    color: #aaa;
    position: absolute;
    right: 5px;
    top: 5px;
    padding-top: 3px;
    background: #fff;
    font-size: 16px;
    width: 25px;
    height: 25px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
  }
 .modal-close:hover {
    color: #333;
  }
 .modal-content-btn {
    position: absolute;
    text-align: center;
    cursor: pointer;
    bottom: 20px;
    right: 30px;
    background: #446cb3;
    color: #fff;
    width: 50px;
    border-radius: 2px;
    font-size: 14px;
    height: 32px;
    padding-top: 9px;
    font-weight: normal;
  }
  .modal-content-btn:hover {
    color: #fff;
    background: #365690;
  }
   #modal-toggle {
    display: none;
  }
   #modal-toggle.active ~ .modal-backdrop, .modal-container #modal-toggle:checked ~ .modal-backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-in;
  }
  #modal-toggle.active ~ .modal-content, .modal-container #modal-toggle:checked ~ .modal-content {
    opacity: 1;
    background-color: #fff;
    max-width: 400px;
    width: 400px;
    height: 280px;
    padding: 10px 30px;
    position: fixed;
    left: calc(50% - 200px);
    top: 12%;
    border-radius: 4px;
    z-index: 999;
    pointer-events: auto;
    cursor: auto;
    visibility: visible;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
  }
  @media (max-width: 400px) {
    .modal-container #modal-toggle.active ~ .modal-content, .modal-container #modal-toggle:checked ~ .modal-content {
      left: 0;
    }
  }
  

  /* CUSTOM CSS */

  .modal-grid {
      display: grid;
      text-align: center;
      margin: .5rem .5rem;
      grid-gap: 1rem;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      padding-top: 2rem;
  }

  .modal-icon {
      grid-template-columns: 2fr;
      font-weight: bold;
  }

  .modal-svg {
      width: 5rem;
  }

  a {
    text-decoration: none;
    color: #333;
  }

  .modal-grid a:visited {
    color: #333;
  }