/* CSS Variables */

:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}


html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}


body {
    background: #ccc;
    line-height: 1.4;
}

.btn {
    background: transparent;
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: solid;
    border-width: 1px;
    font-size:1.3rem;
    display: inline-block;
}

img {
    max-width: 100%;
}

.wrapper {
    display:grid;
    grid-gap: 20px;
}

/* Top Container */
.top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        'logo'
        'showcase'
        'showcaseButton'
        'showcaseButton';
    height: 100vh;
    color: var(--light);
    padding: 3rem;
    position: relative;
    z-index: 1;
    justify-items:center;
}


.top-container::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(img/ship2.jpg);
    opacity: .45;
    background-size:cover;
    background-position:center;
    /* The following is an ugly work-around for a stupid problem. Refactor! */
    margin-left:-5%;
    margin-right:-5%;
    margin-top: -5%;
} 


/* Showcase */
.showcase   {
    /* grid-area: showcase; */
    align-content: center;
    display: grid;
    /* flex-direction: column ; */
    grid-template-columns: 1fr;
    grid-template-rows:4;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
}

.showcase h1 {
    font-size: 4rem;
    margin-bottom:0;
    color: var(--light);
}

.showcase p {
    font-size: 1.3rem;
    margin-top: 0;
    color: var(--light);
}

.showcaseButton {
    /* grid-area: showcaseButton; */
    width: 10rem;
    text-align: center;
    margin-bottom:-1.75rem;
    background-color: rgba(104, 104, 104, 0.4);
}



#logo {
    width: 35%;
    min-width: 35%;
    grid-area: logo;
}
















/* OLD CSS */

/* body {
    background:#011627;
    color:white;
    font-family: 'Lato', sans-serif;
}


.wrapper {
    display: grid;
}

#logo {
    width: 35%;
    min-width: 35%;
}


btn {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 3px solid white;
    border-color: white;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color:white;
    font-size: 1.3em;
    font-weight: lighter;
    padding: 10px 20px 10px 20px;
    width: auto;
    min-height: 30px
} */