/* CSS Variables */

:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}


html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}


body {
    background: #ccc;
    margin:30px 50px;
    line-height: 1.4;
}

#logo {
    width: 35%;
    min-width: 35%;
}














/* OLD CSS */

/* body {
    background:#011627;
    color:white;
    font-family: 'Lato', sans-serif;
}


.wrapper {
    display: grid;
}

#logo {
    width: 35%;
    min-width: 35%;
}


btn {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 3px solid white;
    border-color: white;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color:white;
    font-size: 1.3em;
    font-weight: lighter;
    padding: 10px 20px 10px 20px;
    width: auto;
    min-height: 30px
} */